
<app-nav></app-nav>

<div class="container-fluid" style="min-height: calc(100vh - 3rem); background-image: linear-gradient(rgba(10,10,10,.2), rgba(10,10,10,.9)), url('assets/header.jpg');">
    <div class="container d-flex justify-content-center con">
        <div class="row" style="width: 100%;">
            <!-- Foto - Nombre - Telefono -->
            <div class="col-12 d-flex align-items-center flex-column mb-4" style="margin-top: 4rem;">
                <div class="mb-4" style="height: 6rem; width: 6rem; border-radius: 50%;">
                    <img style="width: 100%; height: 100%; border-radius: 50%;" src="https://ugc.production.linktr.ee/4iMJiuLJT5ClrgdWYNkN_5BRad832QTF0jslc?io=true&size=avatar-v3_0" alt="">
                </div>
                <h2 class="fs-2 fw-bold text-white mb-1">Lorem, ipsum.</h2>
                <h3 class="fs-5 fw-normal text-white">Lorem ipsum dolor sit.</h3>
            </div>

            <!-- Enlaces -->
            <div class="col-12 mb-3 link" style="border: white 1px solid; border-radius: 2.5rem; padding: .6rem; width: 100%">
                <div class="d-flex justify-content-between align-items-center" style="height: auto;">
                    <img class="me-3" style="width: 3.25rem; border-radius: 50%;" src="https://ugc.production.linktr.ee/4iMJiuLJT5ClrgdWYNkN_5BRad832QTF0jslc?io=true&size=avatar-v3_0" alt="">
                    <!-- Se aceptan en el texto 80 char -->
                    <p class="fs-6 text-white text-center fw-semibold mb-0"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, sint! </p>
                    <button class="btn btn-light me-2" style="background-color: transparent; border: none; color: white;"><i class="bi bi-three-dots-vertical"></i></button>
                </div>
            </div>

            <div class="col-12 mb-3 link" style="border: white 1px solid; border-radius: 2.5rem; padding: .6rem; width: 100%">
                <div class="d-flex justify-content-between align-items-center" style="height: auto;">
                    <img class="me-3" style="width: 3.25rem; border-radius: 50%;" src="https://ugc.production.linktr.ee/4iMJiuLJT5ClrgdWYNkN_5BRad832QTF0jslc?io=true&size=avatar-v3_0" alt="">
                    <!-- Se aceptan en el texto 80 char -->
                    <p class="fs-6 text-white text-center fw-semibold mb-0"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, sint! </p>
                    <button class="btn btn-light me-2" style="background-color: transparent; border: none; color: white;"><i class="bi bi-three-dots-vertical"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
